<game-header title="The Game" [rightUrl]="['/game','logout']" rightTitle="Salir"></game-header>

<div class="loading" *ngIf="loading">
	<img src="/assets/loading.svg">
	Cargando...
</div>

<div class="game"></div>

<div class="inventory" *ngIf="showInventory">
	<div class="inventory-box">
		<div class="inventory-header">
			Inventario
			<a href="#" (click)="closeInventory($event)">X</a>
		</div>
		<div class="inventory-body">
			<div class="inventory-list">
				<div class="inventory-item" *ngFor="let item of game.items" (mouseover)="tooltip.load(item.item)" (mousemove)="tooltip.move($event)" (mouseout)="tooltip.show(false)">
					<img *ngIf="item.id!==null" [src]="item.item.assetUrl">
				</div>
			</div>
			<div class="inventory-player">
				<div class="inventory-equipment">
					<div>
						<div class="inventory-equipment-header">Equipo</div>
						<div class="inventory-equipment-head" (mouseover)="tooltip.load(game.equipment.head)" (mousemove)="tooltip.move($event)" (mouseout)="tooltip.show(false)"></div>
						<div class="inventory-equipment-necklace" (mouseover)="tooltip.load(game.equipment.necklace)" (mousemove)="tooltip.move($event)" (mouseout)="tooltip.show(false)"></div>
						<div class="inventory-equipment-body" (mouseover)="tooltip.load(game.equipment.body)" (mousemove)="tooltip.move($event)" (mouseout)="tooltip.show(false)"></div>
						<div class="inventory-equipment-boots" (mouseover)="tooltip.load(game.equipment.boots)" (mousemove)="tooltip.move($event)" (mouseout)="tooltip.show(false)">
							<div class="inventory-equipment-boot"></div>
							<div class="inventory-equipment-boot"></div>
						</div>
					</div>
					<div>
						<div class="inventory-equipment-header">Arma</div>
						<div class="inventory-equipment-weapon" (mouseover)="tooltip.load(game.equipment.weapon)" (mousemove)="tooltip.move($event)" (mouseout)="tooltip.show(false)">
							<img *ngIf="game.equipment.weapon!==null" [src]="game.equipment.weapon.assetUrl">
						</div>
					</div>
				</div>
				<div class="inventory-stats">
					<div class="inventory-equipment-header">Estadísticas</div>
					<div class="inventory-stat">
						<label>Salud</label>
						<span>{{scenario.player.character.currentHealth}} / {{scenario.player.character.health}}</span>
					</div>
					<div class="inventory-stat">
						<label>Ataque</label>
						<span>{{scenario.player.character.attack}}</span>
					</div>
					<div class="inventory-stat">
						<label>Defensa</label>
						<span>{{scenario.player.character.defense}}</span>
					</div>
					<div class="inventory-stat">
						<label>Velocidad</label>
						<span>{{scenario.player.character.speed}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="dialog" *ngIf="showNarratives">
	<div class="dialog-box">
		<div class="dialog-picture">
			<img [src]="currentCharacter.sprites['down'][0].src">
		</div>
		<div class="dialog-text">
			<div class="dialog-title">{{currentCharacter.character.name}}</div>
			<div class="dialog-dialog">
				{{currentCharacter.character.narratives[currentNarrative].dialog}}
				<img src="/assets/play/narratives-more.svg" *ngIf="currentNarrative<currentCharacter.character.narratives.length-1">
			</div>
		</div>
	</div>
</div>

<div class="dialog" *ngIf="showMessage">
	<div class="dialog-box">
		<div class="dialog-picture">
			<img [src]="currentObject.sprites[0].src">
		</div>
		<div class="dialog-text">
			<div class="dialog-title">{{currentObject.object.name}}</div>
			<div class="dialog-dialog">
				{{currentObject.object.activeTriggerCustom}}
			</div>
		</div>
	</div>
</div>

<div class="portal" *ngIf="showPortal">
	<div class="portal-box">
		<div class="portal-header">
			Portal
			<a href="#" (click)="closePortal($event)">X</a>
		</div>
		<div class="portal-body">
			<div class="portal-words">
				<div class="portal-description">Introduce las tres palabras del mundo al que quieres ir:</div>
				<div class="portal-word">
					<label>Primera palabra</label>
					<input type="text" [(ngModel)]="portalWorld.wordOne">
				</div>
				<div class="portal-word">
					<label>Segunda palabra</label>
					<input type="text" [(ngModel)]="portalWorld.wordTwo">
				</div>
				<div class="portal-word">
					<label>Tercera palabra</label>
					<input type="text" [(ngModel)]="portalWorld.wordThree">
				</div>
				<div class="portal-go">
					<button (click)="portalActivate()">Viajar</button>
				</div>
			</div>
			<div class="portal-list">
				<div class="item" *ngFor="let world of unlockedWorlds" [ngClass]="{'current': world.id==worldId}" (click)="portalTravel(world)">
					<div class="header">{{world.name}}</div>
					<div class="description">{{world.description}}</div>
					<div class="word-list">
						<div class="word">{{world.wordOne}}</div>
						<div class="word">{{world.wordTwo}}</div>
						<div class="word">{{world.wordThree}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<game-tooltip #tooltip></game-tooltip>
