<game-header title="The Game" [rightUrl]="['/game','logout']" rightTitle="Salir"></game-header>

<div class="loading" *ngIf="loading">
	<img src="/assets/loading.svg">
	Cargando...
</div>

<div class="game"></div>

<div class="narratives" *ngIf="showNarratives">
	<div class="narratives-box">
		<div class="narrative-picture">
			<img [src]="currentCharacter.sprites['down'][0].src">
		</div>
		<div class="narrative-text">
			<div class="narrative-character-name">{{currentCharacter.character.name}}</div>
			<div class="narrative-dialog">
				{{currentCharacter.character.narratives[currentNarrative].dialog}}
				<img src="/assets/play/narratives-more.svg" *ngIf="currentNarrative<currentCharacter.character.narratives.length-1">
			</div>
		</div>
	</div>
</div>

<div class="portal" *ngIf="showPortal">
	<div class="portal-box">
		<div class="portal-header">
			Portal
			<a href="#" (click)="portalClose($event)">X</a>
		</div>
		<div class="portal-body">
			<div class="portal-words">
				<div class="portal-description">Introduce las tres palabras del mundo al que quieres ir:</div>
				<div class="portal-word">
					<label>Primera palabra</label>
					<input type="text" [(ngModel)]="portalWorld.wordOne">
				</div>
				<div class="portal-word">
					<label>Segunda palabra</label>
					<input type="text" [(ngModel)]="portalWorld.wordTwo">
				</div>
				<div class="portal-word">
					<label>Tercera palabra</label>
					<input type="text" [(ngModel)]="portalWorld.wordThree">
				</div>
				<div class="portal-go">
					<button (click)="portalActivate()">Viajar</button>
				</div>
			</div>
			<div class="portal-list">
				<div class="item" *ngFor="let world of unlockedWorlds" [ngClass]="{'current': world.id==worldId}" (click)="portalTravel(world)">
					<div class="header">{{world.name}}</div>
					<div class="description">{{world.description}}</div>
					<div class="word-list">
						<div class="word">{{world.wordOne}}</div>
						<div class="word">{{world.wordTwo}}</div>
						<div class="word">{{world.wordThree}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
