<game-header title="The Game" [rightUrl]="['/game','logout']" rightTitle="Salir"></game-header>

<div class="game"></div>

<div class="narratives" *ngIf="showNarratives">
	<div class="narratives-box">
		<div class="narrative-character-name">{{currentCharacter.name}}</div>
		<div class="narrative-dialog">{{currentCharacter.narratives[currentNarrative].dialog}}</div>
	</div>
</div>

<div class="portal" *ngIf="showPortal">
	<div class="portal-box">
		<div class="portal-header">
			Portal
		</div>
		<div class="portal-body">
			<div class="portal-words">
				<div class="portal-word">
					
				</div>
			</div>
			<div class="portal-list">
			
			</div>
		</div>
	</div>
</div>