<game-header [leftUrl]="['/admin','resources']"
			 leftTitle="&lt; Recursos"
			 title="Recursos"
			 [rightUrl]="['/admin','logout']"
			 rightTitle="Salir" />

<div class="section-header">
	<div>
		<select name="assets-filter-tag"
				[(ngModel)]="tagFilter"
				(change)="updateFilteredList()">
			<option [ngValue]="null">Elige una tag</option>
			@for (tag of tagList; track tag.id) {
			<option [ngValue]="tag.id">{{tag.name}}</option>
			}
		</select>
		<select name="assets-filter-world"
				[(ngModel)]="worldFilter"
				(change)="updateFilteredList()">
			<option [ngValue]="null">Elige un mundo</option>
			@for (world of worldList; track world.id) {
			<option [ngValue]="world.id">{{world.name}}</option>
			}
		</select>
	</div>
	<a href="#"
	   class="filter-option"
	   [class]="{'filter-option-selected':filterListOption === 'items'}"
	   (click)="changeFilterListOption($event, 'items')">
		<img src="/img/admin/list-items.svg"
			 alt="Items">
	</a>
	<a href="#"
	   class="filter-option"
	   [class]="{'filter-option-selected':filterListOption === 'list'}"
	   (click)="changeFilterListOption($event, 'list')">
		<img src="/img/admin/list-list.svg"
			 alt="Lista">
	</a>
</div>

<div class="list"
	 [class]="{'list-list': filterListOption === 'list'}">
	@for (asset of assetListFiltered; track asset.id) {
	<div [class]="{'item': filterListOption === 'items', 'list-item': filterListOption === 'list'}">
		<img [src]="asset.url"
			 [alt]="asset.name">
		<div class="info">
			<span [title]="asset.name">{{ asset.name }}</span>
			<img src="/img/admin/edit.svg"
				 alt="Editar"
				 title="Editar"
				 (click)="editAsset(asset)">
			<img src="/img/admin/delete.svg"
				 alt="Borrar"
				 title="Borrar"
				 (click)="deleteAsset(asset)">
		</div>
	</div>
	}
	@if (message !== null) {
	<div class="message">
		{{message}}
	</div>
	}
</div>

<a href="#"
   class="fab-button"
   id="add-btn"
   (click)="showAddAsset($event)">+</a>

<div class="asset-detail"
	 [class]="{'asset-detail-show':showDetail}">
	<div class="box">
		<div class="header">
			<span>{{assetDetailHeader}}</span>
			<a href="#"
			   (click)="showAddAsset($event)">X</a>
		</div>
		<div class="row">
			<input type="text"
				   name="asset-name"
				   [(ngModel)]="loadedAsset.name"
				   placeholder="Nombre del recurso">
		</div>
		<div class="row">
			<label>Elige mundo</label>
			<select [(ngModel)]="loadedAsset.idWorld">
				<option [value]="null">Ninguno</option>
				@for (world of worldList; track world.id) {
				<option [value]="world.id">{{world.name}}</option>
				}
			</select>
		</div>
		<div class="row row-image">
			<div class="asset-preview"
				 id="asset-image"
				 [style]="{background: loadedAsset.style}"></div>
			@if (!loadingFile) {
			<button (click)="openFile()">Elegir archivo</button>
			}
			@if (loadingFile) {
			<button disabled="disabled">Cargando...</button>
			}
			<input type="file"
				   id="asset-file"
				   value=""
				   (change)="onFileChange($event)">
		</div>
		<div class="row">
			<label>Tags del recurso</label>
			<input type="text"
				   name="asset-tags"
				   [(ngModel)]="loadedAsset.tagList"
				   placeholder="Tags del recurso">
		</div>
		<div class="footer">
			@if (!savingAsset) {
			<button (click)="saveAsset()">Continuar</button>
			}
			@if (savingAsset) {
			<button disabled="disabled">Guardando...</button>
			}
		</div>
	</div>
</div>