<div class="character-picker"
	 [class]="{'character-picker-show': show()}">
	<div class="character-picker-box">
		<div class="character-picker-header">
			<div>
				<select name="character-filter"
						[(ngModel)]="characterFilter"
						(change)="updateFilteredList()">
					<option [ngValue]="null">Tipo</option>
					@for (type of typeList; track type.id) {
					<option [ngValue]="type.id">{{type.name}}</option>
					}
				</select>
			</div>
			<a href="#"
			   (click)="closePicker($event)">X</a>
		</div>

		<div class="character-list">
			@for (character of characterListFiltered(); track character.id) {
			<div class="character-item"
				 [class]="{'character-item-selected': character.id === selected}"
				 (click)="selectCharacter(character)">
				<img [src]="character.assetDownUrl"
					 [alt]="character.name">
				<div class="character-info">
					<span [title]="character.name">{{ character.name }}</span>
				</div>
			</div>
			}
		</div>
	</div>
</div>