@if (item(); as currentItem) {
<div class="tooltip"
	 [class]="{'tooltip-show': showTooltip()}"
	 [style]="{'top': positionY() + 'px', 'left': positionX() + 'px'}">
	<img [src]="currentItem.assetUrl"
		 [alt]="currentItem.name">
	<div class="tooltip-info">
		<div class="tooltip-name">{{currentItem.name}}</div>
		<div class="tooltip-line">
			<label>Valor</label>
			@if (currentItem.money !== null && currentItem.money > 0) {
			<span>
				<img src="/hud/money.png"
					 alt="">
				{{currentItem.money}}
			</span>
			}
			@if (currentItem.money === null || currentItem.money === 0) {
			<span>-</span>
			}
		</div>
		@if (currentItem.health !== null && currentItem.health > 0) {
		<div class="tooltip-line">
			<label>Salud</label>
			<span>{{currentItem.health > 0 ? '+ ' + currentItem.health : currentItem.health}}</span>
		</div>
		}
		@if (currentItem.attack !== null && currentItem.attack > 0) {
		<div class="tooltip-line">
			<label>Ataque</label>
			<span>{{currentItem.attack > 0 ? '+ ' + currentItem.attack : currentItem.attack}}</span>
		</div>
		}
		@if (currentItem.defense !== null && currentItem.defense > 0) {
		<div class="tooltip-line">
			<label>Defensa</label>
			<span>{{currentItem.defense > 0 ? '+ ' + currentItem.defense : currentItem.defense}}</span>
		</div>
		}
		@if (currentItem.speed !== null && currentItem.speed > 0) {
		<div class="tooltip-line">
			<label>Velocidad</label>
			<span>{{currentItem.speed > 0 ? '+ ' + currentItem.speed : currentItem.speed}}</span>
		</div>
		}
	</div>
</div>
}
