@if (item() !== null) {
<div class="tooltip"
	 [ngClass]="{'tooltip-show': showTooltip()}"
	 [ngStyle]="{'top': positionY() + 'px', 'left': positionX() + 'px'}">
	<img [src]="item().assetUrl"
		 [alt]="item().name">
	<div class="tooltip-info">
		<div class="tooltip-name">{{item().name}}</div>
		<div class="tooltip-line">
			<label>Valor</label>
			@if (item().money !== null && item().money > 0) {
			<span>
				<img src="/assets/hud/money.png"
					 alt="">
				{{item().money}}
			</span>
			}
			@if (item().money === null || item().money === 0) {
			<span>-</span>
			}
		</div>
		@if (item().health !== null && item().health > 0) {
		<div class="tooltip-line">
			<label>Salud</label>
			<span>{{item().health > 0 ? '+ ' + item().health : item().health}}</span>
		</div>
		}
		@if (item().attack !== null && item().attack > 0) {
		<div class="tooltip-line">
			<label>Ataque</label>
			<span>{{item().attack > 0 ? '+ ' + item().attack : item().attack}}</span>
		</div>
		}
		@if (item().defense !== null && item().defense > 0) {
		<div class="tooltip-line">
			<label>Defensa</label>
			<span>{{item().defense > 0 ? '+ ' + item().defense : item().defense}}</span>
		</div>
		}
		@if (item().speed !== null && item().speed > 0) {
		<div class="tooltip-line">
			<label>Velocidad</label>
			<span>{{item().speed > 0 ? '+ ' + item().speed : item().speed}}</span>
		</div>
		}
	</div>
</div>
}