<div class="tooltip"
	 *ngIf="item!==null"
	 [ngClass]="{'tooltip-show': showTooltip}"
	 [ngStyle]="{'top': positionY + 'px', 'left': positionX + 'px'}">
	<img [src]="item.assetUrl">
	<div class="tooltip-info">
		<div class="tooltip-name">{{item.name}}</div>
		<div class="tooltip-line">
			<label>Valor</label>
			<span *ngIf="item.money!==null && item.money>0">
				<img src="/assets/hud/money.png">
				{{item.money}}
			</span>
			<span *ngIf="item.money===null || item.money==0">-</span>
		</div>
		<div *ngIf="item.health!==null && item.health>0"
			 class="tooltip-line">
			<label>Salud</label>
			<span>{{item.health > 0 ? '+ ' + item.health : item.health}}</span>
		</div>
		<div *ngIf="item.attack!==null && item.attack>0"
			 class="tooltip-line">
			<label>Ataque</label>
			<span>{{item.attack > 0 ? '+ ' + item.attack : item.attack}}</span>
		</div>
		<div *ngIf="item.defense!==null && item.defense>0"
			 class="tooltip-line">
			<label>Defensa</label>
			<span>{{item.defense > 0 ? '+ ' + item.defense : item.defense}}</span>
		</div>
		<div *ngIf="item.speed!==null && item.speed>0"
			 class="tooltip-line">
			<label>Velocidad</label>
			<span>{{item.speed > 0 ? '+ ' + item.speed : item.speed}}</span>
		</div>
	</div>
</div>