.tooltip {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	background-color: #fff;
	color: #000;
	border: 2px solid #ffff00;
	display: none;
	flex-direction: row;
	padding: 8px;

	& > img {
		width: 80px;
		display: block;
		margin-right: 16px;
	}

	.tooltip-info {
		display: flex;
		flex-direction: column;

		.tooltip-name {
			font-size: 1.2em;
			border-bottom: 1px solid #000;
			margin-bottom: 8px;
		}

		.tooltip-line {
			display: flex;
			flex-direction: row;

			label {
				flex: 1;
			}
		}
	}
}

.tooltip-show {
	display: flex;
}
