<div class="player-select-bg">
	<img src="/assets/hall/player-select.png"
		 class="player-select-title"
		 alt="">

	<div class="player-select">
		@for (game of games; track game.id; let i = $index) {
		<div class="player-select-game"
			 [ngClass]="{'player-select-game-selected': gameSelected === i}"
			 (mouseover)="changeSelectedGame(game)"
			 (click)="selectGame(game)">
			<img [src]="'/assets/hall/player-' + (i + 1) + '.png'"
				 alt="">
			<div class="player-select-name">{{game.name}}</div>
			@if (game.idScenario !== null) {
			<a href="#"
			   (click)="deleteGame($event, game)">X</a>
			}
		</div>
		}
	</div>

	<form method="post"
		  action="#"
		  (ngSubmit)="newGame($event)">
		<div class="new-game"
			 [ngClass]="{'new-game-show': showNewGame}">
			<div class="new-game-box">
				<div class="new-game-header">
					Nueva partida
					<a href="#"
					   (click)="closeNewGame($event)">x</a>
				</div>
				<div class="new-game-info">
					<img src="/assets/player/link-down.png"
						 alt="">
					<input type="text"
						   name="new-game-name"
						   [(ngModel)]="newGameName"
						   placeholder="Nombre del personaje">
				</div>
				<div class="new-game-footer">
					<input type="submit"
						   class="new-game-go"
						   value="Continuar">
				</div>
			</div>
		</div>
	</form>
</div>