<game-header title="The Game"
			 [rightUrl]="['/game','logout']"
			 rightTitle="Salir" />

@if (loading) {
<div class="loading">
	<img src="/img/loading.svg"
		 alt="">
	Cargando...
</div>
}

<div class="game"></div>

@if (showNarratives) {
<div class="dialog">
	<div class="dialog-box">
		<div class="dialog-picture">
			<img [src]="currentCharacter.sprites['down'][0].src"
				 alt="">
		</div>
		<div class="dialog-text">
			<div class="dialog-title">{{currentCharacter.character.name}}</div>
			<div class="dialog-dialog">
				{{currentCharacter.character.narratives[currentNarrative].dialog}}
				@if (currentNarrative<currentCharacter.character.narratives.length-1) {
																 <img
																 src="/play/narratives-more.svg"
																 alt="">
					}
			</div>
		</div>
	</div>
</div>
}

@if (showMessage) {
<div class="dialog">
	<div class="dialog-box">
		<div class="dialog-picture">
			<img [src]="currentObject.sprites[0].src"
				 alt="">
		</div>
		<div class="dialog-text">
			<div class="dialog-title">{{currentObject.object.name}}</div>
			<div class="dialog-dialog">
				{{currentObject.object.activeTriggerCustom}}
			</div>
		</div>
	</div>
</div>
}

@if (showPortal) {
<div class="portal">
	<div class="portal-box">
		<div class="portal-header">
			Portal
			<a href="#"
			   (click)="closePortal($event)">X</a>
		</div>
		<div class="portal-body">
			<div class="portal-words">
				<div class="portal-description">Introduce las tres palabras del mundo al que quieres ir:</div>
				<div class="portal-word">
					<label>Primera palabra</label>
					<input type="text"
						   [(ngModel)]="portalWorld.wordOne">
				</div>
				<div class="portal-word">
					<label>Segunda palabra</label>
					<input type="text"
						   [(ngModel)]="portalWorld.wordTwo">
				</div>
				<div class="portal-word">
					<label>Tercera palabra</label>
					<input type="text"
						   [(ngModel)]="portalWorld.wordThree">
				</div>
				<div class="portal-go">
					<button (click)="portalActivate()">Viajar</button>
				</div>
			</div>
			<div class="portal-list">
				@for (world of unlockedWorlds; track world.id) {
				<div class="item"
					 [ngClass]="{'current': world.id === worldId}"
					 (click)="portalTravel(world)">
					<div class="header">{{world.name}}</div>
					<div class="description">{{world.description}}</div>
					<div class="word-list">
						<div class="word">{{world.wordOne}}</div>
						<div class="word">{{world.wordTwo}}</div>
						<div class="word">{{world.wordThree}}</div>
					</div>
				</div>
				}
			</div>
		</div>
	</div>
</div>
}

@if (scenario) {
<game-inventory #inventory
				[(inventoryList)]="game.items"
				[(equipment)]="game.equipment"
				[(player)]="scenario.player"
				(closed)="closeInventory($event)" />
}