<div class="asset-picker-header">
	<select name="tag-filter" [(ngModel)]="tagFilter">
		<option [ngValue]="null">Elige una etiqueta</option>
		<option *ngFor="let tag of tagList" [ngValue]="tag.id">{{tag.name | urldecode}}</option>
	</select>
	<select name="world-filter" [(ngModel)]="worldFilter">
		<option [ngValue]="null">Elige un mundo</option>
		<option *ngFor="let world of worldList" [ngValue]="world.id">{{world.name | urldecode}}</option>
	</select>
	<span>
		<label for="name-copy">Copiar nombre</label>
		<input type="checkbox" name="name-copy" id="name-copy" [checked]="nameCopy" (click)="nameCopy = !nameCopy">
	</span>
</div>

<div class="asset-list" id="list">
	<div class="asset-item" *ngFor="let asset of assetListFiltered" [ngClass]="{'asset-item-selected': item.id==selectedItem}" (click)="selectAsset(asset)">
		<img src="{{ asset.url | urldecode }}" alt="{{ asset.name | urldecode }}">
		<div class="asset-info">
			<span title="{{asset.name | urldecode}}">{{ asset.name | urldecode }}</span>
		</div>
	</div>
</div>