<game-header [leftUrl]="['/admin', 'world', worldId().toString(), 'scenarios']"
			 leftTitle="&lt; Escenarios"
			 title="Editar"
			 [rightUrl]="['/admin','logout']"
			 rightTitle="Salir" />

<div class="edit-scenario-header">
	<div class="header-picker">
		<div>
			<label>Fondo</label>
			<img [src]="selected.backgroundAssetUrl"
				 [class]="{'selecting': selected.selecting === 'background'}"
				 (click)="copyCell('background')"
				 alt="">
			@if (selected.idBackground !== null) {
			<a href="#"
			   (click)="cancelCopyCell($event, 'background')">X</a>
			}
		</div>
		<div>
			<label>Objeto</label>
			<img [src]="selected.scenarioObjectAssetUrl"
				 [class]="{'selecting': selected.selecting === 'scenarioObject'}"
				 (click)="copyCell('scenarioObject')"
				 alt="">
			@if (selected.idScenarioObject !== null) {
			<a href="#"
			   (click)="cancelCopyCell($event, 'scenarioObject')">X</a>
			}
		</div>
		<div>
			<label>Personaje</label>
			<img [src]="selected.characterAssetUrl"
				 [class]="{'selecting': selected.selecting === 'character'}"
				 (click)="copyCell('character')"
				 alt="">
			@if (selected.idCharacter !== null) {
			<a href="#"
			   (click)="cancelCopyCell($event, 'character')">X</a>
			}
		</div>
	</div>
	<div class="start-picker">
		<label>Inicio</label>
		<img src="/img/admin/start-location.svg"
			 [class]="{'start-selecting': startSelecting()}"
			 (click)="selectStart()"
			 alt="">
	</div>
	<div class="map-generate">
		<a [href]="`https://apigame.osumi.es/maps/${worldId()}-${scenarioId()}.png`"
		   target="_blank">Mapa</a>
		<img [src]="mapGenerating"
			 (click)="createMap()"
			 alt="">
	</div>
	<div>
		<label for="show-debug">Debug</label>
		<input type="checkbox"
			   id="show-debug"
			   [(ngModel)]="showDebug">
	</div>
</div>

<div class="edit-scenario-container">
	<div class="edit-scenario-with-connections">
		<div class="edit-scenario-upbottom">
			<img src="/img/admin/go-up.svg"
				 title="Conectar escenario por arriba"
				 (click)="connect('up')"
				 alt="Arriba">
			@if (connections.up !== null) {
			<span>
				{{connections.up.toName}}
				<a href="#"
				   (click)="deleteConnection($event, 'up')">X</a>
			</span>
			}
		</div>
		<div class="edit-scenario-main">
			<div class="edit-scenario-side">
				<img src="/img/admin/go-left.svg"
					 title="Conectar escenario por la izquierda"
					 (click)="connect('left')"
					 alt="Izquierda">
				@if (connections.left !== null) {
				<span [title]="connections.left.toName">
					{{connections.left.toName}}
					<a href="#"
					   (click)="deleteConnection($event, 'left')">X</a>
				</span>
				}
			</div>
			<div class="edit-scenario">
				@for (row of scenario(); track row) {
				<div class="edit-scenario-row">
					@for (cell of row; track cell) {
					<div class="edit-scenario-cell"
						 [class]="{'debug': showDebug, 'start-cell': cell.x === loadedScenario.startX && cell.y === loadedScenario.startY}"
						 (click)="openCell(null, cell)">
						@if (cell.idBackground !== null) {
						<img [src]="cell.backgroundAssetUrl"
							 class="edit-scenario-cell-background"
							 alt="">
						}
						@if (cell.idScenarioObject !== null) {
						<img [src]="cell.scenarioObjectAssetUrl"
							 class="edit-scenario-cell-over"
							 [style]="{'width': (100 * cell.scenarioObjectWidth) + '%', 'height': (100 * cell.scenarioObjectHeight) + '%'}"
							 alt="">
						}
						@if (cell.idCharacter !== null) {
						<img [src]="cell.characterAssetUrl"
							 class="edit-scenario-cell-over"
							 [style]="{'width': (100 * cell.characterWidth) + '%', 'height': (100 * cell.characterHeight) + '%'}"
							 alt="">
						}
						<span>{{cell.x}} - {{cell.y}}</span>
					</div>
					}
				</div>
				}
			</div>
			<div class="edit-scenario-side">
				<img src="/img/admin/go-right.svg"
					 title="Conectar escenario por la derecha"
					 (click)="connect('right')"
					 alt="Derecha">
				@if (connections.right !== null) {
				<span [title]="connections.right.toName">
					{{connections.right.toName}}
					<a href="#"
					   (click)="deleteConnection($event, 'right')">X</a>
				</span>
				}
			</div>
		</div>
		<div class="edit-scenario-upbottom">
			<img src="/img/admin/go-down.svg"
				 title="Conectar escenario por abajo"
				 (click)="connect('down')"
				 alt="Abajo">
			@if (connections.down !== null) {
			<span [title]="connections.down.toName">
				{{connections.down.toName}}
				<a href="#"
				   (click)="deleteConnection($event, 'down')">X</a>
			</span>
			}
		</div>
	</div>
</div>

<div class="cell-detail"
	 [class]="{'cell-detail-show': showCellDetail}">
	<div class="box">
		<div class="header">
			Casilla {{ loadedCell.x }} - {{ loadedCell.y }}
			<a href="#"
			   (click)="openCell($event)">X</a>
		</div>
		<div class="body">
			<div class="cell-option">
				<header>Fondo</header>
				<main>
					<img [src]="loadedCell.backgroundAssetUrl"
						 (click)="openBackgroundPicker()"
						 alt="">
					@if (loadedCell.idBackground !== null) {
					<a href="#"
					   (click)="deleteBackground($event)">
						<img src="/img/admin/cant-cross.svg"
							 alt="">
					</a>
					}
				</main>
				<footer>
					{{ loadedCell.backgroundName }}
				</footer>
			</div>
			<div class="cell-option">
				<header>Objeto</header>
				<main>
					<img [src]="loadedCell.scenarioObjectAssetUrl"
						 (click)="openScenarioObjectPicker()"
						 alt="">
					@if (loadedCell.idScenarioObject !== null) {
					<a href="#"
					   (click)="deleteScenarioObject($event)">
						<img src="/img/admin/cant-cross.svg"
							 alt="">
					</a>
					}
				</main>
				<footer>
					{{loadedCell.scenarioObjectName}}
				</footer>
			</div>
			<div class="cell-option">
				<header>Personaje</header>
				<main>
					<img [src]="loadedCell.characterAssetUrl"
						 (click)="openCharacterPicker()"
						 alt="">
					@if (loadedCell.idCharacter !== null) {
					<a href="#"
					   (click)="deleteCharacter($event)">
						<img src="/img/admin/cant-cross.svg"
							 alt="">
					</a>
					}
				</main>
				<footer>
					@if (loadedCell.idCharacter !== null) {
					<input type="number"
						   min="0"
						   step="1"
						   name="character-health"
						   [(ngModel)]="loadedCell.characterHealth"
						   placeholder="Salud actual">
					}
					{{ loadedCell.characterName }}
				</footer>
			</div>
		</div>
		<div class="footer">
			@if (!savingCell()) {
			<button (click)="saveCell()">Continuar</button>
			}
			@else {
			<button disabled="disabled">Guardando...</button>
			}
		</div>
	</div>
</div>

<div class="connections-detail"
	 [class]="{'connections-detail-show': showConnectionsDetail()}">
	<div class="box">
		<div class="header">
			Elige escenario
			<a href="#"
			   (click)="showConnectionDetail($event)">X</a>
		</div>
		<div class="body">
			@for (scenario of scenarioList(); track scenario.id) {
			<div class="row"
				 (click)="selectScenarioConnection(scenario)">
				{{ scenario.name }}
			</div>
			}
			@empty {
			<div class="no-result">No hay más escenarios en este mundo</div>
			}
		</div>
	</div>
</div>

<game-background-picker #backgroundPicker
						(selectBackgroundEvent)="selectedBackground($event)" />
<game-scenario-object-picker #scenarioObjectPicker
							 (selectScenarioObjectEvent)="selectedScenarioObject($event)" />
<game-character-picker #characterPicker
					   (selectCharacterEvent)="selectedCharacter($event)" />