<game-header [leftUrl]="['/admin','resources']" leftTitle="&lt; Recursos" title="Personajes" [rightUrl]="['/admin','logout']" rightTitle="Salir"></game-header>

<div class="characters-header">
	<div>
		<select name="characters-filter-type" [(ngModel)]="characterFilter" (change)="updateFilteredList()">
			<option [ngValue]="null">Elige un tipo</option>
			<option *ngFor="let type of typeList" [ngValue]="type.id">{{type.name}}</option>
		</select>
	</div>
	<a href="#" class="filter-option" [ngClass]="{'filter-option-selected':filterListOption=='items'}" (click)="changeFilterListOption($event, 'items')">
		<img src="/assets/list-items.svg">
	</a>
	<a href="#" class="filter-option" [ngClass]="{'filter-option-selected':filterListOption=='list'}" (click)="changeFilterListOption($event, 'list')">
		<img src="/assets/list-list.svg">
	</a>
</div>

<div class="character-list" [ngClass]="{'character-list-list': filterListOption=='list'}">
	<div *ngFor="let character of characterListFiltered" [ngClass]="{'character-item': filterListOption=='items', 'character-list-item': filterListOption=='list'}">
		<img src="{{ character.assetDownUrl }}" alt="{{ character.name }}">
		<div class="character-info">
			<span title="{{character.name}}">{{ character.name }}</span>
			<img src="/assets/edit.svg" alt="Editar" title="Editar" class="character-edit" (click)="editCharacter(character)">
			<img src="/assets/delete.svg" alt="Borrar" title="Borrar" class="character-delete" (click)="deleteCharacter(character)">
		</div>
	</div>
	<div class="character-message" *ngIf="message!=null">
		{{message}}
	</div>
</div>

<a href="#" class="fab-button" id="add-btn" (click)="showAddCharacter($event)">+</a>

<div class="character-detail" [ngClass]="{'character-detail-show':showDetail}">
	<div class="box">
		<div class="header">
			<span>{{characterDetailHeader}}</span>
			<a href="#" (click)="showAddCharacter($event)">X</a>
		</div>
		<div class="tabs">
			<div class="tab" [ngClass]="{'tab-active':detailtTab=='data'}" (click)="changeTab('data')">Datos</div>
			<div class="tab" [ngClass]="{'tab-active':detailtTab=='down'}" (click)="changeTab('down')">Abajo</div>
			<div class="tab" [ngClass]="{'tab-active':detailtTab=='up'}" (click)="changeTab('up')">Arriba</div>
			<div class="tab" [ngClass]="{'tab-active':detailtTab=='left'}" (click)="changeTab('left')">Izquierda</div>
			<div class="tab" [ngClass]="{'tab-active':detailtTab=='right'}" (click)="changeTab('right')">Derecha</div>
		</div>
		<!-- Datos -->
		<div class="body" [ngClass]="{'body-show':detailtTab=='data'}">
			<div class="row cols">
				<div class="col">
					<label>Tipo de personaje</label>
					<select name="character-type" [(ngModel)]="loadedCharacter.type">
						<option [ngValue]="null">Elige un tipo</option>
						<option *ngFor="let type of typeList" [ngValue]="type.id">{{type.name}}</option>
					</select>
				</div>
				<div class="col">
					<label>Nombre del personaje</label>
					<input type="text" name="character-name" [(ngModel)]="loadedCharacter.name" placeholder="Nombre del personaje">
				</div>
			</div>
			<div class="row cols">
				<div class="col">
					<label>Anchura</label>
					<input type="number" min="1" step="1" name="character-width" [(ngModel)]="loadedCharacter.width" placeholder="Anchura del personaje">
				</div>
				<div class="col">
					<label>Altura</label>
					<input type="number" min="1" step="1" name="character-height" [(ngModel)]="loadedCharacter.height" placeholder="Altura del personaje">
				</div>
			</div>
			<div class="row cols" *ngIf="loadedCharacter.type==1">
				<div class="col">
					<label>Salud del personaje</label>
					<input type="number" name="character-health" min="1" step="1" [(ngModel)]="loadedCharacter.health" placeholder="Salud del personaje">
				</div>
				<div class="col">
					<label>Ataque del personaje</label>
					<input type="number" name="character-attack" min="1" step="1" [(ngModel)]="loadedCharacter.attack" placeholder="Ataque del personaje">
				</div>
				<div class="col">
					<label>Defensa del personaje</label>
					<input type="number" name="character-defense" min="1" step="1" [(ngModel)]="loadedCharacter.defense" placeholder="Defensa del personaje">
				</div>
			</div>
			<div class="row cols" *ngIf="loadedCharacter.type==1">
				<div class="col">
					<label>Velocidad del personaje</label>
					<input type="number" name="character-speed" min="1" step="1" [(ngModel)]="loadedCharacter.speed" placeholder="Velocidad del personaje">
				</div>
				<div class="col">
					<label>Tiempo para volver a aparecer</label>
					<input type="number" name="character-respawn" min="1" step="1" [(ngModel)]="loadedCharacter.respawn" placeholder="Tiempo para volver a aparecer">
				</div>
			</div>
			<div class="row cols" *ngIf="loadedCharacter.type==1">
				<div class="col picker">
					<img [src]="loadedCharacter.dropAssetUrl" (click)="openItemPicker()">
					<div>
						{{dropItemName}}
						<a *ngIf="loadedCharacter.dropIdItem" href="#" (click)="removeSelectedDropItem($event)">(x)</a>
					</div>
				</div>
				<div class="col">
					<label>Porcentaje de posibilidad de obtener item</label>
					<input type="number" name="character-drop-chance" min="1" step="1" max="100" [(ngModel)]="loadedCharacter.dropChance" placeholder="Porcentaje de posibilidad de obtener item">
				</div>
			</div>
		</div>
		<!-- Abajo -->
		<div class="body" [ngClass]="{'body-show':detailtTab=='down'}">
			<div class="row cols">
				<div class="col picker">
					<img [src]="loadedCharacter.assetDownUrl" (click)="openAssetPicker('down')">
					<div>Imagen principal "abajo"</div>
				</div>
				<div class="col preview-col">
					<img [src]="animationImage.down">
				</div>
			</div>
			<div class="animation-slider">
				<div class="animation-frame" *ngFor="let frame of loadedCharacter.framesDown; let ind = index">
					<button class="animation-delete" (click)="frameDelete('down', frame)">
						<img src="/assets/frame-delete.svg">
					</button>
					<button class="animation-left" (click)="frameLeft('down', frame)" *ngIf="ind!=0">
						<img src="/assets/frame-left.svg">
					</button>
					<button class="animation-right" (click)="frameRight('down', frame)" *ngIf="ind!=loadedCharacter.framesDown.length-1">
						<img src="/assets/frame-right.svg">
					</button>
					<img [src]="frame.assetUrl">
				</div>
				<div class="animation-frame animation-frame-add">
					<img src="/assets/add-frame.svg" (click)="openAssetPicker('framesDown')">
				</div>
			</div>
		</div>
		<!-- Arriba -->
		<div class="body" [ngClass]="{'body-show':detailtTab=='up'}">
			<div class="row cols">
				<div class="col picker">
					<img [src]="loadedCharacter.assetUpUrl" (click)="openAssetPicker('up')">
					<div>Imagen principal "arriba"</div>
				</div>
				<div class="col preview-col">
					<img [src]="animationImage.up">
				</div>
			</div>
			<div class="animation-slider">
				<div class="animation-frame" *ngFor="let frame of loadedCharacter.framesUp; let ind = index">
					<button class="animation-delete" (click)="frameDelete('up', frame)">
						<img src="/assets/frame-delete.svg">
					</button>
					<button class="animation-left" (click)="frameLeft('up', frame)" *ngIf="ind!=0">
						<img src="/assets/frame-left.svg">
					</button>
					<button class="animation-right" (click)="frameRight('up', frame)" *ngIf="ind!=loadedCharacter.framesUp.length-1">
						<img src="/assets/frame-right.svg">
					</button>
					<img [src]="frame.assetUrl">
				</div>
				<div class="animation-frame animation-frame-add">
					<img src="/assets/add-frame.svg" (click)="openAssetPicker('framesUp')">
				</div>
			</div>
		</div>
		<!-- Izquierda -->
		<div class="body" [ngClass]="{'body-show':detailtTab=='left'}">
			<div class="row cols">
				<div class="col picker">
					<img [src]="loadedCharacter.assetLeftUrl" (click)="openAssetPicker('left')">
					<div>Imagen principal "izquierda"</div>
				</div>
				<div class="col preview-col">
					<img [src]="animationImage.left">
				</div>
			</div>
			<div class="animation-slider">
				<div class="animation-frame" *ngFor="let frame of loadedCharacter.framesLeft; let ind = index">
					<button class="animation-delete" (click)="frameDelete('left', frame)">
						<img src="/assets/frame-delete.svg">
					</button>
					<button class="animation-left" (click)="frameLeft('left', frame)" *ngIf="ind!=0">
						<img src="/assets/frame-left.svg">
					</button>
					<button class="animation-right" (click)="frameRight('left', frame)" *ngIf="ind!=loadedCharacter.framesLeft.length-1">
						<img src="/assets/frame-right.svg">
					</button>
					<img [src]="frame.assetUrl">
				</div>
				<div class="animation-frame animation-frame-add">
					<img src="/assets/add-frame.svg" (click)="openAssetPicker('framesLeft')">
				</div>
			</div>
		</div>
		<!-- Derecha -->
		<div class="body" [ngClass]="{'body-show':detailtTab=='right'}">
			<div class="row cols">
				<div class="col picker">
					<img [src]="loadedCharacter.assetRightUrl" (click)="openAssetPicker('right')">
					<div>Imagen principal "derecha"</div>
				</div>
				<div class="col preview-col">
					<img [src]="animationImage.right">
				</div>
			</div>
			<div class="animation-slider">
				<div class="animation-frame" *ngFor="let frame of loadedCharacter.framesRight; let ind = index">
					<button class="animation-delete" (click)="frameDelete('right', frame)">
						<img src="/assets/frame-delete.svg">
					</button>
					<button class="animation-left" (click)="frameLeft('right', frame)" *ngIf="ind!=0">
						<img src="/assets/frame-left.svg">
					</button>
					<button class="animation-right" (click)="frameRight('right', frame)" *ngIf="ind!=loadedCharacter.framesRight.length-1">
						<img src="/assets/frame-right.svg">
					</button>
					<img [src]="frame.assetUrl">
				</div>
				<div class="animation-frame animation-frame-add">
					<img src="/assets/add-frame.svg" (click)="openAssetPicker('framesRight')">
				</div>
			</div>
		</div>
		<div class="footer">
			<button (click)="saveCharacter()" *ngIf="!savingCharacter">Continuar</button>
			<button disabled="disabled" *ngIf="savingCharacter">Guardando...</button>
		</div>
	</div>
</div>

<game-asset-picker #assetPicker (selectAssetEvent)="selectedAsset($event)"></game-asset-picker>
<game-item-picker #itemPicker (selectItemEvent)="selectedItem($event)"></game-item-picker>