<div class="scenario-object-picker"
	 [ngClass]="{'scenario-object-picker-show': show()}">
	<div class="scenario-object-picker-box">
		<div class="scenario-object-picker-header">
			<a href="#"
			   (click)="closePicker($event)">X</a>
		</div>

		<div class="scenario-object-list">
			@for (scenarioObject of scenarioObjectList; track scenarioObject.id) {
			<div class="scenario-object-item"
				 [ngClass]="{'scenario-object-item-selected': scenarioObject.id === selected}"
				 (click)="selectScenarioObject(scenarioObject)">
				<img [src]="scenarioObject.assetUrl"
					 [alt]="scenarioObject.name">
				<div class="scenario-object-info">
					<span [title]="scenarioObject.name">{{ scenarioObject.name }}</span>
				</div>
			</div>
			}
		</div>
	</div>
</div>