<game-header [leftUrl]="['/admin','resources','backgrounds']"
			 leftTitle="&lt; Fondos"
			 title="Categorías de fondos"
			 [rightUrl]="['/admin','logout']"
			 rightTitle="Salir" />

<div class="admin-list">
	<div class="header">Categorías de fondos</div>
	<div>
		@for (backgroundCategory of backgroundCategoryList; track backgroundCategory.id) {
		<div class="row">
			<span>{{backgroundCategory.name}}</span>
			<img src="/img/admin/edit.svg"
				 alt="Editar"
				 title="Editar"
				 class="edit"
				 (click)="editBackgroundCategory(backgroundCategory)">
			<img src="/img/admin/delete.svg"
				 alt="Borrar"
				 title="Borrar"
				 class="delete"
				 (click)="deleteBackgroundCategory(backgroundCategory)">
		</div>
		}
		@if (message !== null) {
		<div class="row center">{{message}}</div>
		}
	</div>
</div>

<a href="#"
   class="fab-button"
   id="add-btn"
   (click)="showAddBackgroundCategory($event)">+</a>

<div class="detail"
	 [class]="{'detail-show': showDetail}">
	<div class="box">
		<div class="header">
			<span>{{backgroundCategoryDetailHeader}}</span>
			<a href="#"
			   (click)="showAddBackgroundCategory($event)">X</a>
		</div>
		<div class="row">
			<input type="text"
				   name="background-category-name"
				   [(ngModel)]="loadedBackgroundCategory.name"
				   placeholder="Nombre de la categoría de fondo">
		</div>
		<div class="footer">
			<button (click)="saveBackgroundCategory()">Continuar</button>
		</div>
	</div>
</div>