<game-header [leftUrl]="['/admin','main']" leftTitle="&lt; Admin" title="Mundos" [rightUrl]="['/admin','logout']" rightTitle="Salir"></game-header>

<div class="world-list">
	<div class="header">Mundos</div>
	<div>
		<div class="row" *ngFor="let world of worldList">
			<a [routerLink]="['/admin', 'world', world.id, 'scenarios']">{{world.name | urldecode}}</a>
			<img src="/assets/edit.svg" alt="Editar" title="Editar" class="world-edit" (click)="editWorld(world)">
			<img src="/assets/delete.svg" alt="Borrar" title="Borrar" class="world-delete" (click)="deleteWorld(world)">
		</div>
		<div class="row center" *ngIf="message!=null">{{message}}</div>
	</div>
</div>

<a href="#" class="fab-button" id="add-btn" (click)="showAddWorld($event)">+</a>

<div class="world-detail" [ngClass]="{'world-detail-show':showDetail}">
	<div class="box">
		<div class="header">
			<span>{{worldDetailHeader}}</span>
			<a href="#" (click)="showAddWorld($event)">X</a>
		</div>
		<div class="row">
			<input type="text" name="world-name" [(ngModel)]="loadedWorld.name" placeholder="Nombre del mundo">
		</div>
		<div class="row">
			<textarea name="world-description" [(ngModel)]="loadedWorld.description" placeholder="Descripción del mundo"></textarea>
		</div>
		<div class="row">
			<input type="text" name="world-word-one" [(ngModel)]="loadedWorld.wordOne" placeholder="Primera palabra para desbloquear el mundo">
		</div>
		<div class="row">
			<input type="text" name="world-word-two" [(ngModel)]="loadedWorld.wordTwo" placeholder="Segunda palabra para desbloquear el mundo">
		</div>
		<div class="row">
			<input type="text" name="world-word-three" [(ngModel)]="loadedWorld.wordThree" placeholder="Tercera palabra para desbloquear el mundo">
		</div>
		<div class="row center">
			<label for="world-friendly">Amistoso:</label>
			<input type="checkbox" name="world-friendly" [(ngModel)]="loadedWorld.friendly">
		</div>
		<div class="footer">
			<button (click)="saveWorld()">Continuar</button>
		</div>
	</div>
</div>
