@if (showInventory()) {
<div class="inventory">
	<div class="inventory-box">
		<div class="inventory-header">
			Inventario
			<a href="#"
			   (click)="close($event)">X</a>
		</div>
		<div class="inventory-body">
			<div class="inventory-list">
				@for (item of inventoryList(); track item.id) {
				@if (item.item; as currentItem) {
				<div class="inventory-item"
					 (mouseover)="tooltip.load(currentItem)"
					 (mousemove)="tooltip.move($event)"
					 (mouseout)="tooltip.show(false)"
					 cdkDrag>
					<img [src]="currentItem.assetUrl"
						 [alt]="currentItem.name">
				</div>
				}
				}
			</div>
			@if (equipment(); as currentEquipment) {
			<div class="inventory-player">
				<div class="inventory-equipment">
					<div>
						<div class="inventory-equipment-header">Equipo</div>
						<div class="inventory-equipment-head"
							 (mouseover)="tooltip.load(currentEquipment.head)"
							 (mousemove)="tooltip.move($event)"
							 (mouseout)="tooltip.show(false)"
							 cdkDrop>
							@if (currentEquipment.head; as head) {
							<img [src]="head.assetUrl"
								 alt="Cabeza">
							}
						</div>
						<div class="inventory-equipment-necklace"
							 (mouseover)="tooltip.load(currentEquipment.necklace)"
							 (mousemove)="tooltip.move($event)"
							 (mouseout)="tooltip.show(false)"
							 cdkDrop>
							@if (currentEquipment.necklace; as necklace) {
							<img [src]="necklace.assetUrl"
								 alt="Cuello">
							}
						</div>
						<div class="inventory-equipment-body"
							 (mouseover)="tooltip.load(currentEquipment.body)"
							 (mousemove)="tooltip.move($event)"
							 (mouseout)="tooltip.show(false)"
							 cdkDrop>
							@if (currentEquipment.body; as body) {
							<img [src]="body.assetUrl"
								 alt="Cuerpo">
							}
						</div>
						<div class="inventory-equipment-boots"
							 (mouseover)="tooltip.load(currentEquipment.boots)"
							 (mousemove)="tooltip.move($event)"
							 (mouseout)="tooltip.show(false)"
							 cdkDrop>
							@if (currentEquipment.boots; as boots) {
							<img [src]="boots.assetUrl"
								 alt="Botas">
							}
						</div>
					</div>
					<div>
						<div class="inventory-equipment-header">Arma</div>
						<div class="inventory-equipment-weapon"
							 (mouseover)="tooltip.load(currentEquipment.weapon)"
							 (mousemove)="tooltip.move($event)"
							 (mouseout)="tooltip.show(false)"
							 cdkDrop>
							@if (currentEquipment.weapon; as weapon) {
							<img [src]="weapon.assetUrl"
								 alt="Arma">
							}
						</div>
					</div>
				</div>
				@if (player(); as currentPlayer) {
				@if (currentPlayer.character; as character) {
				<div class="inventory-stats">
					<div class="inventory-equipment-header">Estadisticas</div>
					<div class="inventory-stat">
						<label>Salud</label>
						<span>{{character.currentHealth}} / {{character.health}}</span>
					</div>
					<div class="inventory-stat">
						<label>Ataque</label>
						<span>{{character.attack}}</span>
					</div>
					<div class="inventory-stat">
						<label>Defensa</label>
						<span>{{character.defense}}</span>
					</div>
					<div class="inventory-stat">
						<label>Velocidad</label>
						<span>{{character.speed}}</span>
					</div>
				</div>
				}
				}
			</div>
			}
		</div>
	</div>
</div>
}
