@if (showInventory()) {
<div class="inventory">
	<div class="inventory-box">
		<div class="inventory-header">
			Inventario
			<a href="#"
			   (click)="close($event)">X</a>
		</div>
		<div class="inventory-body">
			<div class="inventory-list">
				@for (item of inventoryList(); track item.id) {
				<div class="inventory-item"
					 (mouseover)="tooltip.load(item.item)"
					 (mousemove)="tooltip.move($event)"
					 (mouseout)="tooltip.show(false)"
					 cdkDrag>
					@if (item.id !== null) {}
					<img [src]="item.item.assetUrl"
						 [alt]="item.item.name">
				</div>
				}
			</div>
			<div class="inventory-player">
				<div class="inventory-equipment">
					<div>
						<div class="inventory-equipment-header">Equipo</div>
						<div class="inventory-equipment-head"
							 (mouseover)="tooltip.load(equipment().head)"
							 (mousemove)="tooltip.move($event)"
							 (mouseout)="tooltip.show(false)"
							 cdkDrop>
							@if (equipment().head !== null) {
							<img [src]="equipment().head.assetUrl"
								 alt="Cabeza">
							}
						</div>
						<div class="inventory-equipment-necklace"
							 (mouseover)="tooltip.load(equipment().necklace)"
							 (mousemove)="tooltip.move($event)"
							 (mouseout)="tooltip.show(false)"
							 cdkDrop>
							@if (equipment().necklace !== null) {
							<img [src]="equipment().necklace.assetUrl"
								 alt="Cuello">
							}
						</div>
						<div class="inventory-equipment-body"
							 (mouseover)="tooltip.load(equipment().body)"
							 (mousemove)="tooltip.move($event)"
							 (mouseout)="tooltip.show(false)"
							 cdkDrop>
							@if (equipment().body !== null) {
							<img [src]="equipment().body.assetUrl"
								 alt="Cuerpo">
							}
						</div>
						<div class="inventory-equipment-boots"
							 (mouseover)="tooltip.load(equipment().boots)"
							 (mousemove)="tooltip.move($event)"
							 (mouseout)="tooltip.show(false)"
							 cdkDrop>
							@if (equipment().boots !== null) {
							<img [src]="equipment().boots.assetUrl"
								 alt="Botas">
							}
						</div>
					</div>
					<div>
						<div class="inventory-equipment-header">Arma</div>
						<div class="inventory-equipment-weapon"
							 (mouseover)="tooltip.load(equipment().weapon)"
							 (mousemove)="tooltip.move($event)"
							 (mouseout)="tooltip.show(false)"
							 cdkDrop>
							@if (equipment().weapon !== null) {
							<img [src]="equipment().weapon.assetUrl"
								 alt="Arma">
							}
						</div>
					</div>
				</div>
				<div class="inventory-stats">
					<div class="inventory-equipment-header">Estadísticas</div>
					<div class="inventory-stat">
						<label>Salud</label>
						<span>{{player().character.currentHealth}} / {{player().character.health}}</span>
					</div>
					<div class="inventory-stat">
						<label>Ataque</label>
						<span>{{player().character.attack}}</span>
					</div>
					<div class="inventory-stat">
						<label>Defensa</label>
						<span>{{player().character.defense}}</span>
					</div>
					<div class="inventory-stat">
						<label>Velocidad</label>
						<span>{{player().character.speed}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
}