<game-header [leftUrl]="['/admin','worlds']"
			 leftTitle="&lt; Mundos"
			 title="Escenarios"
			 [rightUrl]="['/admin','logout']"
			 rightTitle="Salir" />

<div class="admin-list">
	<div class="header">Escenarios</div>
	<div>
		@for (scenario of scenarioList(); track scenario.id) {
		<div class="row">
			<a [routerLink]="['/admin', 'world', scenario.idWorld, 'scenario', scenario.id]">{{ scenario.name }}</a>
			<img src="/img/admin/edit.svg"
				 alt="Editar"
				 title="Editar"
				 class="edit"
				 (click)="editScenario(scenario)">
			<img src="/img/admin/delete.svg"
				 alt="Borrar"
				 title="Borrar"
				 class="delete"
				 (click)="deleteScenario(scenario)">
		</div>
		}
		@if (message() !== null) {
		<div class="row center">{{ message() }}</div>
		}
	</div>
</div>

<a href="#"
   class="fab-button"
   id="add-btn"
   (click)="showAddScenario($event)">+</a>

<div class="detail"
	 [class]="{'detail-show': showDetail()}">
	<div class="box">
		<div class="header">
			<span>{{ scenarioDetailHeader() }}</span>
			<a href="#"
			   (click)="showAddScenario($event)">X</a>
		</div>
		<div class="row">
			<input type="text"
				   name="scenario-name"
				   [(ngModel)]="loadedScenario.name"
				   placeholder="Nombre del escenario">
		</div>
		<div class="row center">
			<label for="scenario-friendly">Amistoso:</label>
			<input type="checkbox"
				   name="scenario-friendly"
				   [(ngModel)]="loadedScenario.friendly">
		</div>
		<div class="footer">
			<button (click)="saveScenario()">Continuar</button>
		</div>
	</div>
</div>