<game-header [leftUrl]="['/admin','resources']"
			 leftTitle="&lt; Recursos"
			 title="Fondos"
			 [rightUrl]="['/admin','logout']"
			 rightTitle="Salir" />

<div class="section-header">
	<div>
		<select name="backgrounds-filter-category"
				[(ngModel)]="backgroundCategoryFilter"
				(change)="updateFilteredList()">
			<option [ngValue]="null">Elige una categoría</option>
			@for (backgroundCategory of backgroundCategoryList; track backgroundCategory.id) {
			<option [ngValue]="backgroundCategory.id">{{backgroundCategory.name}}</option>
			}
		</select>
	</div>
	<a href="#"
	   class="filter-option"
	   [ngClass]="{'filter-option-selected': filterListOption === 'items'}"
	   (click)="changeFilterListOption($event, 'items')">
		<img src="/admin/list-items.svg"
			 alt="Items">
	</a>
	<a href="#"
	   class="filter-option"
	   [ngClass]="{'filter-option-selected': filterListOption === 'list'}"
	   (click)="changeFilterListOption($event, 'list')">
		<img src="/admin/list-list.svg"
			 alt="Lista">
	</a>
	<a routerLink="/admin/resources/backgrounds/categories">Categorías</a>
</div>

<div class="list"
	 [ngClass]="{'list-list': filterListOption === 'list'}">
	@for (background of backgroundListFiltered; track background.id) {
	<div [ngClass]="{'item': filterListOption === 'items', 'list-item': filterListOption === 'list'}">
		<img [src]="background.assetUrl"
			 [alt]="background.name">
		@if (!background.crossable) {
		<img src="/admin/cant-cross.svg"
			 class="cant-cross"
			 alt="No se puede cruzar">
		}
		<div class="info">
			<span [title]="background.name">{{ background.name }}</span>
			<img src="/admin/edit.svg"
				 alt="Editar"
				 title="Editar"
				 class="background-edit"
				 (click)="editBackground(background)">
			<img src="/admin/delete.svg"
				 alt="Borrar"
				 title="Borrar"
				 class="background-delete"
				 (click)="deleteBackground(background)">
		</div>
	</div>
	}
	@if (message !== null) {
	<div class="message">
		{{message}}
	</div>
	}
</div>

<a href="#"
   class="fab-button"
   id="add-btn"
   (click)="showAddBackground($event)">+</a>

<div class="background-detail"
	 [ngClass]="{'background-detail-show':showDetail}">
	<div class="box">
		<div class="header">
			<span>{{backgroundDetailHeader}}</span>
			<a href="#"
			   (click)="showAddBackground($event)">X</a>
		</div>
		<div class="row cols">
			<div class="col">
				<label>Tipo de fondo</label>
				<select [(ngModel)]="loadedBackground.idBackgroundCategory">
					<option [value]="null">Sin categoría</option>
					@for (backgroundCategory of backgroundCategoryList; track backgroundCategory.id) {
					<option [ngValue]="backgroundCategory.id">{{backgroundCategory.name}}</option>
					}
				</select>
			</div>
			<div class="col col-wide">
				<label>Nombre del fondo</label>
				<input type="text"
					   name="background-name"
					   [(ngModel)]="loadedBackground.name"
					   placeholder="Nombre del fondo">
			</div>
		</div>
		<div class="asset-preview">
			<img [src]="loadedBackground.assetUrl"
				 (click)="openAssetPicker()"
				 alt="">
		</div>
		<div class="row center">
			<label for="background-category-crossable">¿Se puede cruzar?</label>
			<input type="checkbox"
				   name="background-category-crossable"
				   [(ngModel)]="loadedBackground.crossable">
		</div>
		<div class="row center">

		</div>
		<div class="footer">
			@if (!savingBackground) {
			<button (click)="saveBackground()">Continuar</button>
			}
			@if (savingBackground) {
			<button disabled="disabled">Guardando...</button>
			}
		</div>
	</div>
</div>

<game-asset-picker #assetPicker
				   (selectAssetEvent)="selectedAsset($event)" />