<game-header [leftUrl]="['/admin','resources']" leftTitle="&lt; Recursos" title="Items" [rightUrl]="['/admin','logout']" rightTitle="Salir"></game-header>

<div class="items-header">
	<div>
		<select name="items-filter-type" [(ngModel)]="itemFilter" (change)="updateFilteredList()">
			<option [ngValue]="null">Elige un tipo</option>
			<option *ngFor="let type of typeList" [ngValue]="type.id">{{type.name}}</option>
		</select>
	</div>
	<a href="#" class="filter-option" [ngClass]="{'filter-option-selected':filterListOption=='items'}" (click)="changeFilterListOption($event, 'items')">
		<img src="/assets/list-items.svg">
	</a>
	<a href="#" class="filter-option" [ngClass]="{'filter-option-selected':filterListOption=='list'}" (click)="changeFilterListOption($event, 'list')">
		<img src="/assets/list-list.svg">
	</a>
</div>

<div class="item-list" [ngClass]="{'item-list-list': filterListOption=='list'}">
	<div *ngFor="let item of itemListFiltered" [ngClass]="{'item-item': filterListOption=='items', 'item-list-item': filterListOption=='list'}">
		<img src="{{ item.assetUrl | urldecode }}" alt="{{ item.name | urldecode }}">
		<div class="item-info">
			<span title="{{item.name | urldecode}}">{{ item.name | urldecode }}</span>
			<img src="/assets/edit.svg" alt="Editar" title="Editar" class="item-edit" (click)="editItem(item)">
			<img src="/assets/delete.svg" alt="Borrar" title="Borrar" class="item-delete" (click)="deleteItem(item)">
		</div>
	</div>
	<div class="item-message" *ngIf="message!=null">
		{{message}}
	</div>
</div>

<a href="#" class="fab-button" id="add-btn" (click)="showAddItem($event)">+</a>

<div class="item-detail" [ngClass]="{'item-detail-show':showDetail}">
	<div class="box">
		<div class="header">
			<span>{{itemDetailHeader}}</span>
			<a href="#" (click)="showAddItem($event)">X</a>
		</div>
		<div class="detail-cols">
			<div class="preview-col">
				<img [src]="animationImage">
			</div>
			<div class="main-col">
				<div class="tabs">
					<div class="tab" [ngClass]="{'tab-active':detailtTab=='data'}" (click)="changeTab('data')">Datos</div>
					<div class="tab" [ngClass]="{'tab-active':detailtTab=='animate'}" (click)="changeTab('animate')">Animación</div>
				</div>
				<!-- Datos del item -->
				<div class="body" [ngClass]="{'body-show':detailtTab=='data'}">
					<div class="row">
						<input type="text" name="item-name" [(ngModel)]="loadedItem.name" placeholder="Nombre del item">
					</div>
					<div class="asset-preview">
						<img [src]="loadedItem.assetUrl" (click)="openAssetPicker('item')">
					</div>
					<div class="row cols">
						<div class="col">
							<select name="item-type" [(ngModel)]="loadedItem.type">
								<option [ngValue]="null">Elige un tipo</option>
								<option *ngFor="let type of typeList" [ngValue]="type.id">{{type.name}}</option>
							</select>
						</div>
						<div class="col">
							<input type="text" name="item-money" [(ngModel)]="loadedItem.money" placeholder="Valor del item">
						</div>
						<!-- tipo arma 1 -> attack -->
						<div class="col" *ngIf="loadedItem.type==1">
							<input type="text" name="item-attack" [(ngModel)]="loadedItem.attack" placeholder="Ataque del item">
						</div>
						<!-- tipo arma 2 -> health -->
						<div class="col" *ngIf="loadedItem.type==2">
							<input type="text" name="item-health" [(ngModel)]="loadedItem.health" placeholder="Curación del item">
						</div>
					</div>
					<!-- tipo equipamiento 3 -> defense / speed / wearable -->
					<div class="row cols" *ngIf="loadedItem.type==3">
						<div class="col">
							<input type="text" name="item-defense" [(ngModel)]="loadedItem.defense" placeholder="Defensa del item">
						</div>
						<div class="col">
							<input type="text" name="item-speed" [(ngModel)]="loadedItem.speed" placeholder="Velocidad del item">
						</div>
						<div class="col">
							<select name="item-wearable" [(ngModel)]="loadedItem.wearable">
								<option [ngValue]="null">Elige un tipo</option>
								<option *ngFor="let wearable of wearableList" [ngValue]="wearable.id">{{wearable.name}}</option>
							</select>
						</div>
					</div>
				</div>
				<!-- Frames de la animación -->
				<div class="body" [ngClass]="{'body-show':detailtTab=='animate'}">
					<div class="animation-slider">
						<div class="animation-frame" *ngFor="let frame of loadedItem.frames">
              <button class="animation-delete" (click)="frameDelete(frame)"><img src="/assets/frame-delete.svg"></button>
              <button class="animation-left" (click)="frameLeft(frame)"><img src="/assets/frame-left.svg"></button>
              <button class="animation-right" (click)="frameRight(frame)"><img src="/assets/frame-right.svg"></button>
							<img [src]="frame.assetUrl">
						</div>
						<div class="animation-frame animation-frame-add">
							<img src="/assets/add-frame.svg" (click)="openAssetPicker('frame')">
						</div>
					</div>
				</div>
				<div class="footer">
					<button (click)="saveItem()" *ngIf="!savingItem">Continuar</button>
					<button disabled="disabled" *ngIf="savingItem">Guardando...</button>
				</div>
			</div>
		</div>
	</div>
</div>

<game-asset-picker #assetPicker (selectAssetEvent)="selectedAsset($event)"></game-asset-picker>
