<div class="character-picker" [ngClass]="{'character-picker-show': show}">
	<div class="character-picker-box">
		<div class="character-picker-header">
			<div>
				<select name="character-filter" [(ngModel)]="characterFilter" (change)="updateFilteredList()">
					<option [ngValue]="null">Tipo</option>
					<option *ngFor="let type of typeList" [ngValue]="type.id">{{type.name | urldecode}}</option>
				</select>
			</div>
			<a href="#" (click)="closePicker($event)">X</a>
		</div>

		<div class="character-list">
			<div class="character-item" *ngFor="let character of characterListFiltered" [ngClass]="{'character-item-selected': character.id==selected}" (click)="selectCharacter(character)">
				<img src="{{ character.assetDownUrl | urldecode }}" alt="{{ character.name | urldecode }}">
				<div class="character-info">
					<span title="{{character.name | urldecode}}">{{ character.name | urldecode }}</span>
				</div>
			</div>
		</div>
	</div>
</div>