<div class="asset-picker"
	 [class]="{'asset-picker-show': show()}">
	<div class="asset-picker-box">
		<div class="asset-picker-header">
			<div>
				<select name="tag-filter"
						[(ngModel)]="tagFilter"
						(change)="updateFilteredList()">
					<option [ngValue]="null">Etiqueta</option>
					@for (tag of tagList; track tag.id) {
					<option [ngValue]="tag.id">{{tag.name}}</option>
					}
				</select>
				<select name="world-filter"
						[(ngModel)]="worldFilter"
						(change)="updateFilteredList()">
					<option [ngValue]="null">Mundo</option>
					@for (world of worldList; track world.id) {
					<option [ngValue]="world.id">{{world.name}}</option>
					}
				</select>
			</div>
			<span>
				<label for="name-copy">Copiar nombre</label>
				<input type="checkbox"
					   name="name-copy"
					   id="name-copy"
					   [(ngModel)]="nameCopy">
			</span>
		</div>

		<div class="asset-list">
			@for (asset of assetListFiltered; track asset.id) {
			<div class="asset-item"
				 [class]="{'asset-item-selected': asset.id === selectedItem}"
				 (click)="selectAsset(asset)">
				<img [src]="asset.url"
					 [alt]="asset.name">
				<div class="asset-info">
					<span [title]="asset.name">{{ asset.name }}</span>
				</div>
			</div>
			}
		</div>
	</div>
</div>