.home-box {
	position: absolute;
	top: calc(50% - 200px);
	left: calc(50% - 250px);
	width: 500px;
	background-color: #fff;
	border-radius: 4px;

	.home-tabs {
		border-bottom: 1px solid #ccc;
		text-align: center;

		.home-tab {
			display: inline-block;
			line-height: 50px;
			padding: 0 16px;
			color: #000;
			cursor: pointer;
		}

		.home-tab-selected {
			background-color: #fff200;
		}
	}

	.home-tab-content {
		display: none;

		.home-row {
			padding: 16px;

			.home-input {
				font-family: 'PressStart', Helvetica, sans-serif;
				line-height: 50px;
				font-size: 1.3em;
				padding-left: 16px;
				width: 100%;
				border: 0;
				border-bottom: 1px solid #ccc;
				outline: 0;
				-webkit-appearance: none;

				&:focus {
					border-bottom: 1px solid #000;
				}
			}

			.home-btn {
				font-family: 'PressStart', Helvetica, sans-serif;
				cursor: pointer;
				border: 1px solid #ccc;
				border-radius: 4px;
				background-color: #fff;
				line-height: 50px;
				display: block;
				padding: 0 16px;
				float: right;
				margin-bottom: 16px;
				font-size: 1.3em;
				-webkit-appearance: none;

				&:hover {
					box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
				}

				&:disabled {
					box-shadow: none;
					background-color: #ddd;
					cursor: default;
				}
			}
		}
	}

	.home-tab-content-selected {
		display: block;
	}

	.home-error {
		position: absolute;
		width: 100%;
		bottom: -33px;
		text-align: center;
		color: #f00;
	}
}