<game-header [leftUrl]="['/admin','resources']"
			 leftTitle="&lt; Recursos"
			 title="Personajes"
			 [rightUrl]="['/admin','logout']"
			 rightTitle="Salir" />

<div class="section-header">
	<div>
		<select name="characters-filter-type"
				[(ngModel)]="characterFilter"
				(change)="updateFilteredList()">
			<option [ngValue]="null">Elige un tipo</option>
			@for (type of typeList; track type.id) {
			<option [ngValue]="type.id">{{type.name}}</option>
			}
		</select>
	</div>
	<a href="#"
	   class="filter-option"
	   [ngClass]="{'filter-option-selected': filterListOption === 'items'}"
	   (click)="changeFilterListOption($event, 'items')">
		<img src="/admin/list-items.svg"
			 alt="Items">
	</a>
	<a href="#"
	   class="filter-option"
	   [ngClass]="{'filter-option-selected': filterListOption === 'list'}"
	   (click)="changeFilterListOption($event, 'list')">
		<img src="/admin/list-list.svg"
			 alt="Lista">
	</a>
</div>

<div class="list"
	 [ngClass]="{'list-list': filterListOption === 'list'}">
	@for (character of characterListFiltered; track character.id) {
	<div [ngClass]="{'item': filterListOption === 'items', 'list-item': filterListOption === 'list'}">
		<img [src]="character.assetDownUrl"
			 [alt]="character.name">
		<div class="info">
			<span [title]="character.name">{{ character.name }}</span>
			<img src="/admin/edit.svg"
				 alt="Editar"
				 title="Editar"
				 (click)="editCharacter(character)">
			<img src="/admin/delete.svg"
				 alt="Borrar"
				 title="Borrar"
				 (click)="deleteCharacter(character)">
		</div>
	</div>
	}
	@if (message !== null) {
	<div class="message">
		{{message}}
	</div>
	}
</div>

<a href="#"
   class="fab-button"
   id="add-btn"
   (click)="showAddCharacter($event)">+</a>

<div class="character-detail"
	 [ngClass]="{'character-detail-show':showDetail}">
	<div class="box">
		<div class="header">
			<span>{{characterDetailHeader}}</span>
			<a href="#"
			   (click)="showAddCharacter($event)">X</a>
		</div>
		<div class="tabs">
			<div class="tab"
				 [ngClass]="{'tab-active': detailtTab === 'data'}"
				 (click)="changeTab('data')">Datos</div>
			<div class="tab"
				 [ngClass]="{'tab-active': detailtTab === 'down'}"
				 (click)="changeTab('down')">Abajo</div>
			<div class="tab"
				 [ngClass]="{'tab-active': detailtTab === 'up'}"
				 (click)="changeTab('up')">Arriba</div>
			<div class="tab"
				 [ngClass]="{'tab-active': detailtTab === 'left'}"
				 (click)="changeTab('left')">Izquierda</div>
			<div class="tab"
				 [ngClass]="{'tab-active': detailtTab === 'right'}"
				 (click)="changeTab('right')">Derecha</div>
			@if (loadedCharacter.type === 0) {
			<div class="tab"
				 [ngClass]="{'tab-active': detailtTab === 'narratives'}"
				 (click)="changeTab('narratives')">Narrativas</div>
			}
		</div>
		<!-- Datos -->
		<div class="body"
			 [ngClass]="{'body-show': detailtTab === 'data'}">
			<div class="row cols">
				<div class="col">
					<label>Tipo de personaje</label>
					<select name="character-type"
							[(ngModel)]="loadedCharacter.type">
						<option [ngValue]="null">Elige un tipo</option>
						@for (type of typeList; track type.id) {
						<option [ngValue]="type.id">{{type.name}}</option>
						}
					</select>
				</div>
				<div class="col">
					<label>Nombre del personaje</label>
					<input type="text"
						   name="character-name"
						   [(ngModel)]="loadedCharacter.name"
						   placeholder="Nombre del personaje">
				</div>
			</div>
			<div class="row cols">
				<div class="col">
					<label>Anchura</label>
					<input type="number"
						   min="1"
						   step="1"
						   name="character-width"
						   [(ngModel)]="loadedCharacter.width"
						   placeholder="Anchura del personaje">
				</div>
				<div class="col">
					<label>Altura</label>
					<input type="number"
						   min="1"
						   step="1"
						   name="character-height"
						   [(ngModel)]="loadedCharacter.height"
						   placeholder="Altura del personaje">
				</div>
				<div class="col">
					<label>Anchura que bloquea</label>
					<input type="number"
						   min="1"
						   step="1"
						   name="character-block-width"
						   [(ngModel)]="loadedCharacter.blockWidth"
						   placeholder="Anchura que bloquea">
				</div>
				<div class="col">
					<label>Altura que bloquea</label>
					<input type="number"
						   min="1"
						   step="1"
						   name="character-block-height"
						   [(ngModel)]="loadedCharacter.blockHeight"
						   placeholder="Altura que bloquea">
				</div>
				<div class="col">
					<label>Posición fija</label>
					<input type="checkbox"
						   name="character-fixed-position"
						   [(ngModel)]="loadedCharacter.fixedPosition">
				</div>
			</div>
			@if (loadedCharacter.type === 1) {
			<div class="row cols">
				<div class="col">
					<label>Salud del personaje</label>
					<input type="number"
						   name="character-health"
						   min="1"
						   step="1"
						   [(ngModel)]="loadedCharacter.health"
						   placeholder="Salud del personaje">
				</div>
				<div class="col">
					<label>Ataque del personaje</label>
					<input type="number"
						   name="character-attack"
						   min="1"
						   step="1"
						   [(ngModel)]="loadedCharacter.attack"
						   placeholder="Ataque del personaje">
				</div>
				<div class="col">
					<label>Defensa del personaje</label>
					<input type="number"
						   name="character-defense"
						   min="1"
						   step="1"
						   [(ngModel)]="loadedCharacter.defense"
						   placeholder="Defensa del personaje">
				</div>
			</div>
			}
			@if (loadedCharacter.type === 1) {
			<div class="row cols">
				<div class="col">
					<label>Velocidad del personaje</label>
					<input type="number"
						   name="character-speed"
						   min="1"
						   step="1"
						   [(ngModel)]="loadedCharacter.speed"
						   placeholder="Velocidad del personaje">
				</div>
				<div class="col">
					<label>Tiempo para volver a aparecer</label>
					<input type="number"
						   name="character-respawn"
						   min="1"
						   step="1"
						   [(ngModel)]="loadedCharacter.respawn"
						   placeholder="Tiempo para volver a aparecer">
				</div>
			</div>
			}
			@if (loadedCharacter.type === 1) {
			<div class="row cols">
				<div class="col picker">
					<img [src]="loadedCharacter.dropAssetUrl"
						 (click)="openItemPicker()"
						 alt="">
					<div>
						{{dropItemName}}
						@if (loadedCharacter.dropIdItem) {
						<a href="#"
						   (click)="removeSelectedDropItem($event)">(x)</a>
						}
					</div>
				</div>
				<div class="col">
					<label>Porcentaje de posibilidad de obtener item</label>
					<input type="number"
						   name="character-drop-chance"
						   min="1"
						   step="1"
						   max="100"
						   [(ngModel)]="loadedCharacter.dropChance"
						   placeholder="Porcentaje de posibilidad de obtener item">
				</div>
			</div>
			}
		</div>
		<!-- Abajo -->
		<div class="body"
			 [ngClass]="{'body-show': detailtTab === 'down'}">
			<div class="row cols">
				<div class="col picker">
					<img [src]="loadedCharacter.assetDownUrl"
						 (click)="openAssetPicker('down')"
						 alt="">
					<div>Imagen principal "abajo"</div>
				</div>
				<div class="col preview-col">
					<img [src]="animationImage.down"
						 alt="">
				</div>
			</div>
			<div class="animation-slider">
				@for (frame of loadedCharacter.framesDown; track frame.id; let ind = $index) {
				<div class="animation-frame">
					<button class="animation-delete"
							(click)="frameDelete('down', frame)">
						<img src="/admin/frame-delete.svg"
							 alt="Borrar">
					</button>
					@if (ind !== 0) {
					<button class="animation-left"
							(click)="frameLeft('down', frame)">
						<img src="/admin/frame-left.svg"
							 alt="Izquierda">
					</button>
					}
					@if (ind !== loadedCharacter.framesDown.length-1) {
					<button class="animation-right"
							(click)="frameRight('down', frame)">
						<img src="/admin/frame-right.svg"
							 alt="Derecha">
					</button>
					}
					<img [src]="frame.assetUrl"
						 alt="">
				</div>
				}
				<div class="animation-frame animation-frame-add">
					<img src="/admin/add-frame.svg"
						 (click)="openAssetPicker('framesDown')"
						 alt="Añadir frame">
				</div>
			</div>
		</div>
		<!-- Arriba -->
		<div class="body"
			 [ngClass]="{'body-show': detailtTab === 'up'}">
			<div class="row cols">
				<div class="col picker">
					<img [src]="loadedCharacter.assetUpUrl"
						 (click)="openAssetPicker('up')"
						 alt="Arriba">
					<div>Imagen principal "arriba"</div>
				</div>
				<div class="col preview-col">
					<img [src]="animationImage.up"
						 alt="">
				</div>
			</div>
			<div class="animation-slider">
				@for (frame of loadedCharacter.framesUp; track frame.id; let ind = $index) {
				<div class="animation-frame">
					<button class="animation-delete"
							(click)="frameDelete('up', frame)">
						<img src="/admin/frame-delete.svg"
							 alt="Borrar">
					</button>
					@if (ind !== 0) {
					<button class="animation-left"
							(click)="frameLeft('up', frame)">
						<img src="/admin/frame-left.svg"
							 alt="Izquierda">
					</button>
					}
					@if (ind !== loadedCharacter.framesUp.length-1) {
					<button class="animation-right"
							(click)="frameRight('up', frame)">
						<img src="/admin/frame-right.svg"
							 alt="Derecha">
					</button>
					}
					<img [src]="frame.assetUrl"
						 alt="">
				</div>
				}
				<div class="animation-frame animation-frame-add">
					<img src="/admin/add-frame.svg"
						 (click)="openAssetPicker('framesUp')"
						 alt="">
				</div>
			</div>
		</div>
		<!-- Izquierda -->
		<div class="body"
			 [ngClass]="{'body-show': detailtTab === 'left'}">
			<div class="row cols">
				<div class="col picker">
					<img [src]="loadedCharacter.assetLeftUrl"
						 (click)="openAssetPicker('left')"
						 alt="Izquierda">
					<div>Imagen principal "izquierda"</div>
				</div>
				<div class="col preview-col">
					<img [src]="animationImage.left"
						 alt="">
				</div>
			</div>
			<div class="animation-slider">
				@for (frame of loadedCharacter.framesLeft; track frame.id; let ind = $index) {
				<div class="animation-frame">
					<button class="animation-delete"
							(click)="frameDelete('left', frame)">
						<img src="/admin/frame-delete.svg"
							 alt="Borrar">
					</button>
					@if (ind !== 0) {
					<button class="animation-left"
							(click)="frameLeft('left', frame)">
						<img src="/admin/frame-left.svg"
							 alt="Izquierda">
					</button>
					}
					@if (ind !== loadedCharacter.framesLeft.length-1) {}
					<button class="animation-right"
							(click)="frameRight('left', frame)">
						<img src="/admin/frame-right.svg"
							 alt="Derecha">
					</button>
					<img [src]="frame.assetUrl"
						 alt="">
				</div>
				}
				<div class="animation-frame animation-frame-add">
					<img src="/admin/add-frame.svg"
						 (click)="openAssetPicker('framesLeft')"
						 alt="">
				</div>
			</div>
		</div>
		<!-- Derecha -->
		<div class="body"
			 [ngClass]="{'body-show': detailtTab === 'right'}">
			<div class="row cols">
				<div class="col picker">
					<img [src]="loadedCharacter.assetRightUrl"
						 (click)="openAssetPicker('right')"
						 alt="Derecha">
					<div>Imagen principal "derecha"</div>
				</div>
				<div class="col preview-col">
					<img [src]="animationImage.right"
						 alt="">
				</div>
			</div>
			<div class="animation-slider">
				@for (frame of loadedCharacter.framesRight; track frame.id; let ind = $index) {
				<div class="animation-frame">
					<button class="animation-delete"
							(click)="frameDelete('right', frame)">
						<img src="/admin/frame-delete.svg"
							 alt="Borrar">
					</button>
					@if (ind !== 0) {
					<button class="animation-left"
							(click)="frameLeft('right', frame)">
						<img src="/admin/frame-left.svg"
							 alt="Izquierda">
					</button>
					}
					@if (ind !== loadedCharacter.framesRight.length-1) {
					<button class="animation-right"
							(click)="frameRight('right', frame)">
						<img src="/admin/frame-right.svg"
							 alt="Derecha">
					</button>
					}
					<img [src]="frame.assetUrl"
						 alt="">
				</div>
				}
				<div class="animation-frame animation-frame-add">
					<img src="/admin/add-frame.svg"
						 (click)="openAssetPicker('framesRight')"
						 alt="">
				</div>
			</div>
		</div>
		<!-- Narrativas -->
		<div class="body"
			 [ngClass]="{'body-show': detailtTab === 'narratives'}">
			<div class="narratives-header">
				Narrativas
				<button (click)="addNarrative()">Añadir</button>
			</div>
			<div class="narratives-list">
				@for (narrative of loadedCharacter.narratives; track narrative.id) {
				<div class="narratives-item">
					<div class="narratives-item-header">
						<label>{{narrative.order}}</label>
						<span>
							<img src="/admin/move-down.svg"
								 title="Mover abajo el diálogo"
								 (click)="moveNarrative(narrative, 'down')"
								 alt="Abajo">
							<img src="/admin/move-up.svg"
								 title="Mover arriba el diálogo"
								 (click)="moveNarrative(narrative, 'up')"
								 alt="Arriba">
							<img src="/admin/delete.svg"
								 title="Borrar el diálogo"
								 (click)="deleteNarrative(narrative)"
								 alt="Borrar">
						</span>
					</div>
					<textarea name="narrative-item"
							  class="narrative-dialog"
							  [(ngModel)]="narrative.dialog"></textarea>
				</div>
				}
			</div>
		</div>
		<div class="footer">
			@if (!savingCharacter) {
			<button (click)="saveCharacter()">Continuar</button>
			}
			@if (savingCharacter) {
			<button disabled="disabled">Guardando...</button>
			}
		</div>
	</div>
</div>

<game-asset-picker #assetPicker
				   (selectAssetEvent)="selectedAsset($event)" />
<game-item-picker #itemPicker
				  (selectItemEvent)="selectedItem($event)" />