<game-header [leftUrl]="['/admin','resources']"
			 leftTitle="&lt; Recursos"
			 title="Items"
			 [rightUrl]="['/admin','logout']"
			 rightTitle="Salir" />

<div class="section-header">
	<div>
		<select name="items-filter-type"
				[(ngModel)]="itemFilter"
				(change)="updateFilteredList()">
			<option [ngValue]="null">Elige un tipo</option>
			@for (type of typeList; track type.id) {
			<option [ngValue]="type.id">{{type.name}}</option>
			}
		</select>
	</div>
	<a href="#"
	   class="filter-option"
	   [class]="{'filter-option-selected': filterListOption === 'items'}"
	   (click)="changeFilterListOption($event, 'items')">
		<img src="/img/admin/list-items.svg"
			 alt="Items">
	</a>
	<a href="#"
	   class="filter-option"
	   [class]="{'filter-option-selected': filterListOption === 'list'}"
	   (click)="changeFilterListOption($event, 'list')">
		<img src="/img/admin/list-list.svg"
			 alt="Lista">
	</a>
</div>

<div class="list"
	 [class]="{'list-list': filterListOption === 'list'}">
	@for (item of itemListFiltered(); track item.id) {
	<div [class]="{'item': filterListOption === 'items', 'list-item': filterListOption === 'list'}">
		<img [src]="item.assetUrl"
			 [alt]="item.name">
		<div class="info">
			<span [title]="item.name">{{ item.name }}</span>
			<img src="/img/admin/edit.svg"
				 alt="Editar"
				 title="Editar"
				 class="edit"
				 (click)="editItem(item)">
			<img src="/img/admin/delete.svg"
				 alt="Borrar"
				 title="Borrar"
				 class="delete"
				 (click)="deleteItem(item)">
		</div>
	</div>
	}
	@if (message() !== null) {
	<div class="message">
		{{ message() }}
	</div>
	}
</div>

<a href="#"
   class="fab-button"
   id="add-btn"
   (click)="showAddItem($event)">+</a>

<div class="item-detail"
	 [class]="{'item-detail-show': showDetail()}">
	<div class="box">
		<div class="header">
			<span>{{ itemDetailHeader() }}</span>
			<a href="#"
			   (click)="showAddItem($event)">X</a>
		</div>
		<div class="detail-cols">
			<div class="preview-col">
				<img [src]="animationImage"
					 alt="">
			</div>
			<div class="main-col">
				<div class="tabs">
					<div class="tab"
						 [class]="{'tab-active': detailtTab === 'data'}"
						 (click)="changeTab('data')">Datos</div>
					<div class="tab"
						 [class]="{'tab-active': detailtTab === 'animate'}"
						 (click)="changeTab('animate')">Animación</div>
				</div>
				<!-- Datos del item -->
				<div class="body"
					 [class]="{'body-show': detailtTab === 'data'}">
					<div class="row">
						<label>Nombre del item</label>
						<input type="text"
							   name="item-name"
							   [(ngModel)]="loadedItem.name"
							   placeholder="Nombre del item">
					</div>
					<div class="asset-preview">
						<img [src]="loadedItem.assetUrl"
							 (click)="openAssetPicker('item')"
							 alt="Item">
					</div>
					<div class="row cols">
						<div class="col">
							<label>Tipo de item</label>
							<select name="item-type"
									[(ngModel)]="loadedItem.type">
								<option [ngValue]="null">Elige un tipo</option>
								@for (type of typeList; track type.id) {
								<option [ngValue]="type.id">{{type.name}}</option>
								}
							</select>
						</div>
						<div class="col">
							<label>Valor del item</label>
							<input type="number"
								   min="0"
								   step="1"
								   name="item-money"
								   [(ngModel)]="loadedItem.money"
								   placeholder="Valor del item">
						</div>
						<!-- tipo arma 1 -> attack -->
						@if (loadedItem.type === 1) {
						<div class="col">
							<label>Ataque del item</label>
							<input type="number"
								   min="0"
								   step="1"
								   name="item-attack"
								   [(ngModel)]="loadedItem.attack"
								   placeholder="Ataque del item">
						</div>
						}
						<!-- tipo arma 2 -> health -->
						@if (loadedItem.type === 2) {
						<div class="col">
							<label>Curación del item</label>
							<input type="number"
								   min="0"
								   step="1"
								   name="item-health"
								   [(ngModel)]="loadedItem.health"
								   placeholder="Curación del item">
						</div>
						}
					</div>
					<!-- tipo equipamiento 3 -> defense / speed / wearable -->
					@if (loadedItem.type === 3) {
					<div class="row cols">
						<div class="col">
							<label>Defensa del item</label>
							<input type="number"
								   min="0"
								   step="1"
								   name="item-defense"
								   [(ngModel)]="loadedItem.defense"
								   placeholder="Defensa del item">
						</div>
						<div class="col">
							<label>Velocidad del item</label>
							<input type="number"
								   min="0"
								   step="1"
								   name="item-speed"
								   [(ngModel)]="loadedItem.speed"
								   placeholder="Velocidad del item">
						</div>
						<div class="col">
							<label>Tipo de equipamiento</label>
							<select name="item-wearable"
									[(ngModel)]="loadedItem.wearable">
								<option [ngValue]="null">Elige un tipo</option>
								@for (wearable of wearableList; track wearable.id) {
								<option [ngValue]="wearable.id">{{wearable.name}}</option>
								}
							</select>
						</div>
					</div>
					}
				</div>
				<!-- Frames de la animación -->
				<div class="body"
					 [class]="{'body-show': detailtTab === 'animate'}">
					<div class="animation-slider">
						@for (frame of loadedItem.frames; track frame.id; let ind = $index) {
						<div class="animation-frame">
							<button class="animation-delete"
									(click)="frameDelete(frame)">
								<img src="/img/admin/frame-delete.svg"
									 alt="Borrar">
							</button>
							@if (ind !== 0) {
							<button class="animation-left"
									(click)="frameLeft(frame)">
								<img src="/img/admin/frame-left.svg"
									 alt="Izquierda">
							</button>
							}
							@if (ind !== loadedItem.frames.length-1) {
							<button class="animation-right"
									(click)="frameRight(frame)">
								<img src="/img/admin/frame-right.svg"
									 alt="Derecha">
							</button>
							}
							<img [src]="frame.assetUrl"
								 alt="">
						</div>
						}
						<div class="animation-frame animation-frame-add">
							<img src="/img/admin/add-frame.svg"
								 (click)="openAssetPicker('frame')"
								 alt="Frame">
						</div>
					</div>
				</div>
				<div class="footer">
					@if (!savingItem()) {
					<button (click)="saveItem()">Continuar</button>
					}
					@else {
					<button disabled="disabled">Guardando...</button>
					}
				</div>
			</div>
		</div>
	</div>
</div>

<game-asset-picker #assetPicker
				   (selectAssetEvent)="selectedAsset($event)" />