<game-header [leftUrl]="['/admin','main']" leftTitle="&lt; Admin" title="Recursos" [rightUrl]="['/admin','logout']" rightTitle="Salir"></game-header>

<ul class="resources-menu">
  <li>
    <a routerLink="/admin/resources/backgrounds">Fondos</a>
  </li>
  <li>
    <a routerLink="/admin/resources/characters">Personajes</a>
  </li>
  <li>
    <a routerLink="/admin/resources/scenario_objects">Objetos de escenario</a>
  </li>
  <li>
    <a routerLink="/admin/resources/assets">Recursos</a>
  </li>
</ul>
